VITE_SUPABASE_URL=https://fjvqbelusgmrgqfxfkfo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZqdnFiZWx1c2dtcmdxZnhma2ZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxNjM2ODksImV4cCI6MjA3MjczOTY4OX0.nTGoJt5eGC_zyQWJAqvx92ck5aPAb4qM02pvOTDf5w0